    <div class="row-fluid">
      <div class="span12">

<h2>Users</h2>

<table class="table">
<% @users.each do |u| %>
<tr>
  <td><%= u.id %></td>
  <td><%= u.email %></td>
  <td><%= u.created_at %></td>
  <td><%= u.last_sign_in_ip %></td>
  <td><%= link_to 'edit', '#' %> | <%= link_to 'delete' %></td>
  </tr>
<% end %>

</table>

<h2>Jobs</h2>
<table class="table">
<% @jobs.each do |j| %>
<tr>
  <td><%= j.id %></td>
  <td><%= j.name %></td>
  <td><%= j.city %></td>
  <td><%= j.country %></td>
  <td><%= j.latitude %></td>
  <td><%= j.longitude %></td>
  <td><%= link_to 'edit', '#' %> | <%= link_to 'delete' %></td>

  </tr>
<% end %>
</table>

<h3>Add new Job</h3>
<%= simple_form_for Job.new do |f| %>
  <%= f.input :name %>
  <%= f.input :city %>
  <%= f.input :country %>
  <%= f.submit %>
<% end %>


</div>
</div>